<nav class="navbar container" style="border-radius: 0%; background-color:yellow; opacity: 0.9;;margin-bottom: 0%;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if page=='Index' %}active{% endif %}"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="{% if page=='Login' %}active{% endif %}"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>