<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Try</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/style.css') }}">
</head>
<body>

    <div id="header">
        <header>
            <h1>Marian Bank</h1>
        </header>
        {% block nav %}
        {% endblock %}
    </div>

    <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    <div id="footer">
        <footer>
            <h5>TCS Case Study (2020)</h5>
        </footer>
    </div>

</body>
</html>