{% extends 'base.html' %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p class="text-center"><span class="glyphicon glyphicon-home" style="font-size: 300px;"></span></p>
    <pre class="text-center" style="font: 20px Impact">Developed By :   <span class="text-info"><a href="https://github.com/mochatek" target="blank" class="fa fa-github text-danger" style="font-size:25px"></a>  AKASH S PANICKAR </span></pre>
{% endblock %}