{% extends 'base.html' %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block content %}


{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <fieldset>
            <legend>Login</legend>
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname" required>
            <br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br><br>
            <label for="is_cust">Login as</label>
            <input type="radio" name="is_cust" value="1">Customer
            <input type="radio" name="is_cust" value="0">Teller
            <br><br>
            <button type="submit">Login</button>
        </fieldset>
    </form>
    <br>
    <p>Don't have an account? Register <a href="{{ url_for('register') }}">Here</a></p>

{% endblock %}