{% extends 'base.html' %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <fieldset>
            <legend>Login</legend>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br><br>
            <label for="who">Login as</label>
            <input type="radio" name="who" value="customer">Customer
            <input type="radio" name="who" value="teller">Teller
            <br><br>
            <button type="submit">Login</button>
        </fieldset>
    </form>
    <br>
    <p>Don't have an account? Register <a href="{{ url_for('register') }}">Here</a></p>

{% endblock %}